<div class="">
  <div class="container box">
    <div class="balance">Balance</div>
    <div class="deposit">Deposit</div>
    <div class="withdraw">Withdraw</div>
  </div>
</div>




<%# if user_signed_in? %>
  <!--h1>
    <%#= link_to "Log Out", destroy_user_session_path,method: :delete %>
  </h1>

  <h1>
    <%#= link_to "Check Accounts", accounts_path() %>
  </h1>     
  
  <!-- Button trigger modal -->
  <!-- h1>

    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
      Launch demo modal
    </button>
  </h1>
    

  <h1>
    <%#= link_to "Deposit", transaction_deposit_path() %>
  </h1>    

  <h1>
    <%#= link_to "Withdraw", transaction_withdraw_path() %>
  </h1>     
<%# else %>
<h1>
  <%#= link_to "Sign In", user_session_path %>
</h1>
<%# end %>

<h1>Home#index</h1>
<p>Find me in app/views/home/index.html.erb</p>



<!-- Modal -->
<!-- div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Your current balance: </h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <h1>
          <%#= current_user.account.card.amount %>F
        </h1>
      </div>
      <h5>Date :<%#= Time.now %></h5>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <!-- button type="button" class="btn btn-primary">Save changes</button -->
      <!-- /div>
    </div>
  </div>
</div -->
