<h1>Home#show</h1>
<p>Find me in app/views/home/show.html.erb</p>
<div class="ball_wrap">
  <div class="blue_ball"></div>
  <div class="green_ball"></div>
  <div class="green_ball"></div>
  <div class="green_ball"></div>
</div>