<h1>Editing account</h1>
<div class="container col-md-6" style="margin-top: 2%;margin-bottom: 2%;border: 1px solid rgb(216, 216, 216);">

<%= render "form", account: @account %>

<br>

<div>
  <%= link_to "Show this account", @account %> |
  <%= link_to "Back to accounts", accounts_path %>
</div>
</div>