<div class="container col-md-6" style="margin-top: 2%;margin-bottom: 2%;border: 1px solid rgb(216, 216, 216);">
  <h1>New account</h1>

  <%= render "form", account: @account %>

  <br>

  <div>
    <%= link_to "Back to accounts", accounts_path %>
  </div>
</div>